############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini


##################
## Project Folders
##################

# SASS cache folder
.sass-cache/

##################
## Sublime Text 2
##################

# Sublime project files
zeditor.sublime-project
zeditor.sublime-workspace